<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="USER_HOME" value="logs" />

	<!-- 异常日志文件 Appender定义 -->
	<appender name="ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${USER_HOME}/platform.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${USER_HOME}/platform-%d{yyyy-MM-dd}.%i.txt
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%date [%thread %boldGreen(%X{action.name} %X{request.id})] %cyan(%logger{80}) - %msg%n</Pattern>
		</encoder>
	</appender>
	<!-- 异常日志文件 Appender定义 -->
	<appender name="ALL_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${USER_HOME}/platform_error.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${USER_HOME}/platform_error-%d{yyyy-MM-dd}.%i.txt
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%date [%thread %boldGreen(%X{action.name} %X{request.id})] %cyan(%logger{80}) - %msg%n</Pattern>
		</encoder>
	</appender>
	<!-- 屏幕输出 Appender定义 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern>%date [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>


	<logger name="com.cloudcare" level="DEBUG">
	</logger>

	<logger name="org.springframework" level="INFO">
	</logger>

    <logger name="com.querydsl" level="DEBUG">
    </logger>

	<!-- 默认为DEBUG级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ALL" />
		<appender-ref ref="ALL_ERROR" />
	</root>
</configuration>